boto==2.46.1
click==6.7
Flask==0.12.1
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.7.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
pbr==2.1.0
pysocks==1.6.7
pytz==2017.2
simplejson==3.10.0
six==1.10.0
twilio==6.3.dev0
virtualenv==15.1.0
Werkzeug==0.12.1
